body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-areas:
    "nav header"
    "nav main";
  grid-template-rows: 150px 1fr;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0.5em 2em 1em 2em;
}

input {
  background-color: #a5b2b8;
  padding: 6px 20px;
  border: none;
  border-radius: 20px;
  margin: 0 10px;
  font-size: 1rem;
  width: 500px;
}

.search-bar {
  display: flex;
  align-items: center;
}
.search-bar i {
  font-size: 1.5rem;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile i {
  font-size: 1.5rem;
}

.profile p {
  font-weight: 600;
}

#header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

#header-bottom {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}

.greeting {
  display: flex;
  align-items: center;
  gap: 15px;
}

.greeting p {
  margin: 0;
}

.greeting img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.greeting-text p {
  font-weight: 600;
}

#greeting-username {
  font-size: 1.5rem;
}

button {
  background-color: #2565c4;
  padding: 8px 20px;
  border: none;
  border-radius: 20px;
  margin: 0 0 0 10px;
  font-size: 1rem;
}

.nav {
  background-color: #2565c4;
  grid-area: nav;
  padding: 2rem;
}

.nav h1 {
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 10px;
  margin: 0;
  padding-left: 0;
}

.nav ul i {
  margin-right: 14px;
}

.nav ul {
  list-style: none;
  padding-left: 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000000;
  line-height: 2;
  margin-top: 40px;
}

.nav a {
  text-decoration: none;
  color: #000000;
}

.nav a:hover {
  color: #0d3770;
}

.nav a:visited {
  color: #000000;
}

.nav a:active {
  color: #0000ff;
}

#nav-settings {
  margin-top: 50px;
}

.nav h1 i {
  font-size: 3.5rem;
}

.main {
  grid-area: main;
  background-color: #a5b2b8;
  padding: 1rem;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.flex-container {
  display: flex;
}

.projects {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.project {
  background-color: #f2f2f2;
  border-radius: 8px;
  border-left: 12px solid #e0ea26;
  position: relative;
  padding: 2em 1em 2em 2em; /* Ensure padding is even */
}

.project h3 {
  margin: 0;
}

.project p {
  color: #727272;
  overflow: hidden;
  margin-top: 0;
}

.project-icons {
  position: absolute;
  right: 1em;
  bottom: 1em;
  display: flex;
  gap: 10px;
}

.project-icons i {
  font-size: 1.2rem;
}

#announcements-heading {
  font-weight: 600;
  margin-left: 2rem;
}

.announcements {
  padding: 3rem 2rem;
}

.announcements p {
  color: #727272;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 0;
}

.announcements h4 {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.announcements,
.trending {
  padding: 20px 30px;
  max-width: 350px;
  border-radius: 8px;
  background-color: #f2f2f2;
  margin: 0 0 3rem 2rem;
}

#trending-heading {
  font-weight: 600;
  margin-left: 2rem;
}

.trending-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.trending-item img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.trending-item .text {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.username {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.project-name {
  font-size: 0.9rem;
  font-weight: 300;
  color: #727272;
}

.username,
.project-name {
  margin: 5px;
}
